body {
    background: url(./1.jpg) no-repeat center;
    background-color: #ccc;
    i{
        font-size: 15px;
        color: #444
    }
    #app {
        h1 {
            font-size: 100px;
        }
    }
}